- users.each do |user|
  .relation_user_info
    .relation_user_info_image
      = image_tag user.avatar_image  
    .relation_user_info_name
      %p= user.display_name
      %span= 'Last seen  ' + I18n.l(user.last_sign_in_at)
