@import 'variables';
@import 'card';
@import 'devise';
@import 'profile';
@import 'comment';
@import 'form';
@import 'follow-follower';

html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
  }

body {
height: 100%;
background-color: $base-bg-color;
font-size: 1em;
color: $text-base-color;

    a{
        text-decoration: none;
        color: $text-base-color;
    }
}

.header {
    position: relative;
    z-index: 100;
    height: 55px;
}

.header_right_btn {
    position: absolute;
    display: flex;
    top: 55px;
    right: 2%;
    img {
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
}

.header_left_btn {
    position: absolute;
    display: flex;
    top: 55px;
    left: 1.5%;
}    

.container {
    margin-top: 35px;
    width: 100%;
    height: 90%;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
  }

  .float_btn {
      position: fixed;
      bottom: 900px;
      right: 50px;
  }

.hidden {
    display: none;
}

    