.article-comment {
    h3 {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
}

.comment_userInfo {
    margin-top: 40px;
}

.article_comment_image {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-top: 10px;
    float: left;       
}

.article_comment_username {
    p {
        font-size: 16px;
        line-height: 24px;
        color: #414040;
        margin:0 0 0 40px ;
    }
}

.article_comment {
    p {
        font-size: 14px;
        line-height: 28px;
        color: #9B9B9B;
        margin:0 0 20px 40px ;        
    }
}

.comment-form {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    width: 95%;
    background-color: #fff;
}
.show_comment_form {
    bottom: 10%;
    height: 42px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

    img {
        margin: 12px 0 13px 21px ;
    }
}
.comment_text_area {
    textarea {
        height: 8em;
        bottom: 10%;
        width: 95%;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);        
    }
}


